<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta http-equiv="x-ua-compatible" content="ie=edge">
    	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    	{% block head %}
	    	<title>Anbarasan Gangadaran{% block title %}{% endblock %}</title>
	    {% endblock %}
        <style>
        	@font-face {
                font-family: 'Ubuntu';
                src: url('fonts/Ubuntu-R.ttf') format('truetype');
            }
            .navbar {
                margin-bottom: 20px
            }
	        body { font-family: 'Ubuntu', sans-serif; padding-top: 70px; }
        </style>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
		          	</button>
			    	<a class="navbar-brand" href="/">Anbarasan Gangadaran</a>
			    </div>
			    <div id="navbar" class="navbar-collapse collapse">
			    	<ul class="nav navbar-nav navbar-right">
			    		<li class="active"><a href="/blog">Blog</a></li>
			    		<li><a href="/projects">Projects</a></li>
			    		<li><a href="/resume">Resume</a></li>
			    		<li><a href="/contact">Contact</a></li>
			    	</ul>
			    </div>
			</div>
		</nav>
		<div class="container container-fluid">
			{% block body %}{% endblock %}
		</div>
	</body>
</html>
